html body {
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  font-family: "Baloo 2", sans-serif;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
}

.container {
  width: 90vw;
  margin: auto;
}

.margin-section {
  padding-top: 50px;
  padding-bottom: 75px;
}

.no-margin {
  margin: 0;
}

.modal{
    position: absolute;
    width: 40%;
    left: 30%;
    margin-top: 30vh;
    background-color: #e0dba6;
    padding: 20px 35px;
    border-radius: 5px;
    border: 1px solid #aba56f;
    z-index: 201;
}

.alert-msg{
    background-color: #ffbabf;
    width: 100%;
    z-index: 100;
    border: 1px solid #b0585f;
    border-radius: 5px;
}

.alert-msg p{
    margin: 0;
    padding: 5px 10px 5px 20px;
    font-size: 1rem;
    color: #b0585f;
}
.alert-msg a{
    color: #b0585f;
}

.cross-msg{
    padding: 10px 10px;
    /* z-index: 120; */
    position: absolute;
    top: 21px;
    right: calc(10% + 3px);
}

.cross-msg:before{
    content: "";
    width: 12px;
    height: 1px;
    background-color: #b0585f;
    position: absolute;
    transform: rotate(45deg);
}

.cross-msg:after{
    content: "";
    width: 12px;
    height: 1px;
    background-color: #b0585f;
    position: absolute;
    transform: rotate(-45deg);
}

#playerList .info-pawn{
    position: absolute;
    right: 5%;
    top: 0;
    width: 25px;
}

.blackscreen{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: rgba(0,0,0,0.5);
}

.bottom-section{
    margin-bottom: 75px;
}

.clear {
  clear: both;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.hidden {
  visibility: hidden;
  display: none;
}

.margin-title {
  margin-top: 90px;
}

.bottom {
  margin-bottom: 75px;
}

.margin-mobile{
    margin-top: 50px;
}

@media (min-width: 768px) {
  .margin-section {
    padding-top: 75px;
    padding-bottom: 100px;
  }

  .col {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .col--img{
    width: 100%;
    margin-top: 12%;
  }
}

@media (min-width: 992px) {
    .col--img{
      width: 40%;
      margin-top: 12%;
    }

  .container {
    width: 80%;
    margin: auto;
  }

  .mobile {
    display: none;
  }

  .col--left {
    float: left;
    width: 50%;
  }

  .col--right {
    float: right;
    width: 40%;
  }

  .margin-p {
    padding-top: 75px;
  }
  #playerList .info-pawn{
      width: 35px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1150px;
    margin: auto;
  }

  .margin-mobile{
      margin-top: inherit;
  }

  .col {
    width: 40%;
  }

  .col--left {
    float: left;
    width: 50%;
  }

  .col--img {
    width: 60%;
  }

  .col--obj {
    float: left;
    width: 30%;
  }

  .col--large {
    width: 60%;
  }

  .col--large {
    width: 60%;
  }

  .col--pawn {
    width: 15%;
  }
}

.img-logo a img {
    padding-top: 10px;
    margin: 0;
    z-index: 2;
    font-size: 0;
    width: 40vw;
    margin-left: 25vw;
    transition: width 0.3s, margin-left 0.3s;
}

a .tiny-logo {
  width: 28vw;
  margin-left: 0vw;
  transition: width 0.3s, margin-left 0.3s;
}

h2,
h3,
h4 {
  font-family: "Lato", cursive;
  color: #202020;
  line-height: 1.2;
}

h2 {
  font-size: 43.95px;
}

h3 {
  font-size: 35.16px;
  margin-top: 36px;
  line-height: 1;
}

h4 {
  font-size: 28.13px;
}

p {
  color: #202020;
}

h4 {
  margin-bottom: 0px;
  color: #fff;
}

.text-list {
  list-style: none;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(197, 191, 137, 0.9);
  border: 1px solid #aba56f;
  border-radius: 5px;
}

.text-list li p,
.text-list li h4 {
  color: #202020;
}

.link-deco{
    color: #40850c;
    transition: 0.2s color ease;
}

.link-deco:hover{
    color: #0c9169;
    transition: 0.2s color ease;
}

@media (min-width: 768px) {
  .img-logo a img {
    width: 24%;
    margin-left: 38%;
  }

  .img-logo a .tiny-logo {
    width: 20%;
  }

  .list {
    padding: 0;
  }
}

@media (min-width: 992px) {
  .img-logo {
    display: inline-block;
    width: 20%;
    float: left;
  }

  .img-logo a img {
    width: 100%;
    margin-left: 0;
  }

  .img-logo a .tiny-logo {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .img-logo {
    width: 250px;
  }

  .img-logo a img {
    width: 100%;
    margin-left: 0;
  }

  .img-logo a .tiny-logo {
    width: 60%;
  }

  .text-list {
    width: 130%;
    margin-left: -15%;
    padding: inherit;
    box-sizing: inherit;
    background-color: inherit;
    border: inherit;
    display: inline-flex;
    flex-wrap: wrap;
  }

  .text-list li p,
  .text-list li h4 {
    color: #202020;
  }

  .text-list li h4 {
    margin-top: 5px;
  }

  .text-list__el {
    flex-wrap: wrap;
    margin: 10px;
    width: calc(30% - 40px);
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(204, 157, 14, 0.9);
    border: 1px solid #202020;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.4);
  }

  .text-list__el:first-child {
    margin-left: 0;
  }

  .text-list__el:nth-child(4) {
    margin-left: 0;
  }

  .text-list__el:last-child {
    margin-right: 0;
  }

  .text-list__el:nth-child(3) {
    margin-right: 0;
  }

  .text-list__el--chance {
    background-color: #ebcca9;
  }

  .text-list__el--money {
    background-color: #bceba9;
  }

  .text-list__el--resources {
    background-color: #e3e3e3;
  }

  .text-list__el--attack {
    background-color: #eba9a7;
  }

  .text-list__el--bank {
    background-color: #a7c1eb;
  }

  .text-list__el--benefit {
    background-color: #a7e0eb;
  }
}

.btn-play {
  background-color: #ffc001;
  padding: 0px 12vw;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.4);
  z-index: 10;
  border-radius: 5px;
  transition: 0.2s all;
}

.btn-play--main {
  margin-top: 50px;
  background-color: red;
}

.btn-play:hover {
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.4);
  color: #e3e3e3;
  background-color: #e3ac05;
  transition: 0.2s all;
}

.btn-link {
  float: right;
  text-align: right;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.4);
  padding: 2px 20px;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  background-color: #ffc001;
}

.btn-link:hover {
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.4);
  color: #e3e3e3;
  background-color: #e3ac05;
  transition: 0.2s all;
}

.list-btn {
  list-style: none;
  text-align: center;
  padding: inherit;
  margin-bottom: 0;
}

.list-btn__el {
  margin-bottom: 10px;
}

.btn-game {
  background-color: #93B26E;
  padding: 0px 20px;
  border-radius: 10px;
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  border: 2px solid #ffc001;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.4);
  transition: 0.2s all;
}

.btn-game:hover {
  background-color: #7d9c59;
  border-color: #e3ac05;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.4);
  color: #e3e3e3;
  transition: 0.2s all;
}

.btn-game--ready {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 0px 70px;
}

.btn-game--second {
  padding: 0px 20px;
  border: 2px solid #b0d980;
}

.btn-game--second:hover {
  border-color: #93B26E;
}

.p-game {
  background-color: #93B26E;
  width: 56px;
  margin-left: 12px;
  border-radius: 10px;
  font-size: 1rem;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border: 2px solid #ffc001;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.4);
}

.p-game span {
  font-size: 1.25rem;
}

.ready {
  float: right;
  margin: auto;
  margin-top: 5px;
}

.play {
  text-align: center;
}

.play--main {
  padding-top: 65vh;
}

.credits {
  font-size: 1rem;
}

@media (min-width: 576px) {
  .play--main {
    padding-top: 70vh;
  }
}

@media (min-width: 992px) {
  .btn-play {
    background-color: #ffc001;
    padding: 0px 12vw;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.4);
    z-index: 10;
    border-radius: 5px;
  }

  .btn-play--main {
    margin-top: 50px;
    background-color: red;
  }

  .play {
    margin-top: 50px;
  }

  .play--main {
    margin-top: 0px;
    position: absolute;
    left: 50%;
    top: 75vh;
    transform: translate(-50%);
    padding-top: inherit;
  }
}

@media (min-width: 1200px) {
  .btn-play {
    padding: 0px 60px;
  }
}

body {
  background-color: #C5BF89;
}

.bg-green {
  background-image: url(/assets/images/bg-jungle03.png?df839d7d64ecbf7edd3c2b4ecd87e527);
  background-size: cover;
}

.bg-green p {
  color: #fff;
}

.bg-green h2,
.bg-green h3 {
  color: #fff;
  line-height: 1.4;
}

footer {
  background-color: #202020;
}

.header {
  width: 100vw;
  height: 60px;
  background-color: #202020;
  margin: 0;
  padding: 0;
  top: 0;
  position: fixed;
  z-index: 10;
}
.header--game{
    height: 80px;
}

@media (min-width: 768px) {
  .header {
    height: 80px;
  }
}

video {
  position: absolute;
  max-width: 100%;
  top: 0vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

@media (min-width: 992px) {
  video {
    position: absolute;
    right: 0;
    top: 0;
    min-width: 100%;
    min-height: 100vh;
    z-index: -100;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
}

footer {
  padding-top: 10px;
  padding-bottom: 10px;
}

footer p {
  color: #808080;
  font-size: 0.8rem;
  margin-bottom: 0;
  text-align: center;
}

.h2-logo {
  display: inline;
}

.h2-logo a img {
  width: 15vw;
  margin-top: 10px;
  margin-bottom: 0;
}

.footer-game {
  background-color: transparent;
  padding: 0;
  position: fixed;
  bottom: 0;
  right: 5%;
  z-index: -1;
}

.footer-game p {
  margin-top: 0px;
  width: inherit;
  display: inline;
  float: right;
  text-align: right;
  color: #aba56f;
  font-size: 0.7rem;
}

.footer-game p a {
  color: #aba56f;
}

@media (min-width: 576px) {
  footer p {
    color: #808080;
    font-size: 1rem;
  }

  .h2-logo {
    display: inline;
  }

  .h2-logo a img {
    margin-top: 15px;
    width: 15vw;
  }
}

@media (min-width: 992px) {
  footer p {
    color: #808080;
    font-size: 1rem;
  }

  .h2-logo a img {
    margin-top: 10px;
    width: 10vw;
  }

  .fix {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
  }
}

@media (min-width: 1200px) {
  footer {
    padding-bottom: 15px;
  }

  footer p {
    margin-top: 0;
  }

  .h2-logo {
    display: inline;
  }

  .h2-logo a img {
    width: 100px;
    margin-top: 5px;
    margin-bottom: 0;
  }
}

img {
  max-width: 100%;
  margin-bottom: 25px;
}

.bg-img {
  background-color: rgba(127, 127, 127, 0.25);
  border-radius: 5px;
}

.img-center {
  margin: auto;
  display: block;
}

@media (min-width: 768px) {
  .tablet-img {
    max-width: 60%;
    margin: auto;
    display: block;
  }
}

@media (min-width: 992px) {
  .marge-img {
    margin-top: 100px;
  }
}

.main-section {
  height: 100vh;
  position: relative;
}

.liane-g:before{
    content: '';
    background-image: url('../images/liane_g.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 60px;
    left: 0%;
    width: 60%;
    height: 20%;
    /* z-index: 300; */
}

.liane-d:after{
    content: '';
    background-image: url('../images/liane_d.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-position: right top;
    position: absolute;
    top: 60px;
    right: 0;
    width: 40%;
    height: 40%;
    z-index: -1;
    opacity: 0.99;
    /* z-index: 300; */
}

.liane-g--block:before, .liane-d--block:after{
    top: 0;
    height: 90%;
    width: 40%;
    z-index: -1;
    opacity: 0.99;
}

.rela{
    position: relative;
}

@media (min-width: 1200px) {
  .first-section {
    padding-top: 125px;
  }
}

.burger {
  padding: 25px;
  position: absolute;
  top: 5px;
  right: 5%;
  z-index: 10;
}

.burger__el {
  height: 1px;
  width: 25px;
  background-color: #fff;
  position: absolute;
  right: 5%;
}

.burger__el:before {
  content: "";
  height: 1px;
  width: 25px;
  background-color: #fff;
  position: absolute;
  top: -7px;
  transition: 0.5s margin-top ease;
  transition: 0.5s transform ease;
}

.burger__el:after {
  content: "";
  height: 1px;
  width: 25px;
  background-color: #fff;
  position: absolute;
  top: 7px;
  transition: 0.3s margin-top ease;
  transition: 0.3s transform ease;
}

.cross {
  width: 0;
}

.cross:before {
  content: "";
  transform: rotate(45deg);
  margin-top: 7px;
  margin-left: -25px;
  opacity: 1;
  transition: 0.3s margin-top ease;
  transition: 0.3s transform ease;
}

.cross:after {
  transform: rotate(-45deg);
  margin-top: -7px;
  margin-left: -25px;
  opacity: 1;
  transition: 0.3s margin-top ease;
  transition: 0.3s transform ease;
}

.menu {
  width: 100vw;
  height: 100vh;
  background-color: rgba(20, 20, 20, 0.9);
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: 0.3s transform ease;
}

.menu h2 {
  color: #ffc001;
  text-align: center;
}

.menu ul {
  padding: 0;
  list-style: none;
  margin-top: 100px;
}

.menu ul .connected p {
  color: #fff;
  font-size: 1.8rem;
  margin-top: 0;
  margin-bottom: 15px;
}

.menu ul .connected a:before {
  content: "";
  display: none;
}

.menu ul li {
  text-align: center;
  padding: 20px;
  position: relative;
}

.menu ul li .active {
  color: #ffc001;
  position: relative;
}

.menu ul li .active:before {
  content: ">";
  color: grey;
  margin-right: 10vw;
  line-height: 0.4;
}

.menu ul li .active:after {
  content: "<";
  color: grey;
  margin-left: 10vw;
  line-height: 0.4;
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.8rem;
  display: block;
  transition: 0.2s color ease;
}

.menu ul li a:hover {
  color: #93B26E;
  transition: 0.2s color ease;
}

.menu ul li:before {
  content: "";
  width: 80%;
  height: 1px;
  background-color: grey;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: -20px;
}

.menu ul li:first-child:before {
  display: none;
}

.menu ul li:last-child {
  border-radius: 20px;
  margin-top: 30px;
  background-color: rgba(80, 80, 80, 0.6);
}

.menu ul .no-style:last-child {
  border-radius: inherit;
  background-color: inherit;
}

.menu ul li:last-child:before {
  margin-top: -50px;
}

.menu ul li .main-link {
  background-color: #ffc001;
  border-radius: 10px;
  padding-top: 4px;
  width: 80%;
  margin-left: 10%;
}

.menu ul li .main-link:before {
  content: "ou";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 52.5px;
  font-size: 1rem;
  color: grey;
}

.menu ul li .main-link:hover {
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.4);
  color: #e3e3e3;
  background-color: #e3ac05;
  transition: 0.2s all;
}

.menu ul li .connection-link {
  color: lightgrey;
  font-size: 1.2rem;
  margin-top: 30px;
  text-decoration: underline;
  text-decoration-color: grey;
}

.slide {
  transform: translateX(0%);
  transition: 0.5s all ease;
}

.nav-footer ul {
  list-style: none;
  padding: 0;
  font-size: 0.8rem;
  text-align: right;
  margin: 0;
  margin-top: -50px;
}

.nav-footer ul li {
  display: inline;
  margin-left: 15px;
}

.nav-footer ul li a {
  color: #fff;
  text-decoration: none;
  color: #808080;
}

.nav-footer ul li a:hover {
  color: #ffc001;
  transition: 0.2s all;
}

.nav-footer ul li:after {
  content: "-";
  position: absolute;
  margin-left: 4px;
  color: #ffc001;
}

.nav-footer ul li:last-child:after {
  content: "";
}

@media (min-width: 576px) {
  .nav-footer ul {
    font-size: 1.2rem;
    margin-top: -60px;
  }
}

@media (min-width: 768px) {
  .nav-footer ul {
    margin-top: -75px;
  }
}

@media (min-width: 992px) {
  .menu {
    width: 80%;
    float: right;
    height: inherit;
    background-color: inherit;
    position: relative;
    top: inherit;
    right: inherit;
    transform: none;
    display: inline;
    margin: 0;
    padding: 0;
    float: right;
    transition: 0.3s all ease;
  }

  .menu--game {
    width: 40%;
  }

  .menu--game nav ul li {
    margin: 0;
    margin-left: 15px;
    margin-top: 5px;
    padding: 0;
    opacity: 0.9;
    transition: all 0.2s ease;
  }

  .menu--game nav ul li:hover {
    opacity: 1;
    transition: all 0.2s ease;
  }

  .menu--game nav ul li img {
    width: 60px;
  }

  .menu--game nav ul li:last-child {
    background-color: inherit;
    margin-top: 5px;
    margin-left: 15px;
    padding: 0;
  }
  .menu ul .no-style:last-child {
    margin: inherit;
    padding: 20px;
  }

  .menu--game nav ul li:last-child a {
    margin-right: 0px;
  }

  .menu--game nav ul li:last-child:before {
    margin-top: -50px;
  }

  .menu--game:last-child {
    background-color: inherit;
    margin-top: 0px;
    padding: 10px;
  }

  .menu--game:last-child:before {
    margin-top: -50px;
  }

  .menu ul {
    padding: 0;
    list-style: none;
    margin-top: 0;
    position: absolute;
    right: 0;
  }

  .menu ul .connected:last-child {
    background-color: inherit;
    margin-top: -5px;
    margin-left: 60px;
  }

  .menu ul .connected:last-child p {
    color: #fff;
    font-size: 1.2rem;
    margin: 0;
  }

  .menu ul .connected:last-child p:before {
    content: "";
    width: 1px;
    height: 60px;
    margin-left: -30px;
    margin-top: 5px;
    background-color: grey;
    position: absolute;
  }

  .menu ul .connected:last-child a {
    margin-left: 0;
    padding: 0 25px;
    border-radius: 2px;
  }

  .menu ul .connected:last-child a:before {
    content: "";
    display: none;
  }

  .menu ul li {
    text-align: inherit;
    padding: 20px;
    position: relative;
    width: inherit;
    float: left;
  }

  .menu ul li .active {
    color: #ffc001;
  }

  .menu ul li .active:before,
  .menu ul li .active:after {
    display: none;
  }

  /* .menu ul li .active:after{
      content: '';
      display: inline;
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #ffc001;
      margin-left: 0;
      line-height: 0;
  } */

  .menu ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: inherit;
    font-size: 1.2rem;
    display: inline;
    width: inherit;
  }

  .menu ul li:before {
    display: none;
  }

  .menu ul li:first-child:before {
    display: none;
  }

  .menu ul li:last-child {
    background-color: #2e2e2e;
    border-radius: 5px;
    margin-top: 12px;
    margin-left: 10px;
    padding: 10px;
  }

  .menu ul li:last-child a {
    margin-right: 10px;
  }

  .menu ul li:last-child:before {
    margin-top: -50px;
  }

  .menu ul li .main-link {
    background-color: #ffc001;
    border-radius: 5px;
    padding: 3px 6px;
    width: inherit;
    margin-left: inherit;
  }

  .menu ul li .main-link:before {
    display: none;
  }

  .menu ul li .connection-link {
    color: lightgrey;
    font-size: 1.2rem;
    margin-top: inherit;
    text-decoration: underline;
    text-decoration-color: grey;
  }

  .nav-footer ul {
    margin-top: -65px;
  }

  .nav-footer ul li {
    margin-left: 35px;
  }

  .nav-footer ul li:after {
    content: "-";
    position: absolute;
    margin-left: 12px;
    color: #ffc001;
  }
}

@media (min-width: 1200px) {
  .nav-footer ul {
    margin-top: -70px;
  }

  .nav-footer ul li {
    margin-left: 35px;
  }

  .nav-footer ul li:after {
    content: "-";
    position: absolute;
    margin-left: 12px;
    color: #ffc001;
  }
}

.scroll {
  margin-top: 25px;
  margin-left: 48%;
  justify-content: center;
  align-items: center;
}

.scroll .scroll-arrow {
  z-index: 10;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  animation: arrow-wave 1s infinite;
  animation-direction: alternate;
}

.scroll .scroll-arrow:nth-child(1) {
  animation-delay: 0.1s;
}

.scroll .scroll-arrow:nth-child(2) {
  animation-delay: 0.2s;
}

.scroll .scroll-arrow:nth-child(3) {
  animation-delay: 0.3s;
}

@keyframes arrow-wave {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@media (min-width: 992px) {
  .scroll {
    position: absolute;
    top: 90vh;
    left: 50%;
    margin: auto;
    transform: translate(-50%);
  }
}

.table-of-contents {
  background-color: #e0dba6;
  padding: 35px;
  border-radius: 5px;
  border: 1px solid #b3ae76;
}

.table-of-contents a {
  color: inherit;
  text-decoration: inherit;
}

.table-of-contents__main-list {
  padding: 0;
}

.table-of-contents__main-list ol {
  color: #858052;
  font-size: 1.2rem;
}

.table-of-contents__main-list ol a {
  color: inherit;
}

.table-of-contents__main-list ol li {
  margin-bottom: 0;
}

.table-of-contents__main-list ol li:before {
  display: none;
}

.table-of-contents__main-list li {
  margin-bottom: 12px;
  position: relative;
}

.table-of-contents__main-list li:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #b3ae76;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: -6px;
}

.table-of-contents__main-list li:first-child:before {
  display: none;
}

.table-of-contents h3 {
  margin-top: 0;
}

@media (min-width: 1200px) {
  .table-of-contents__main-list li {
    position: relative;
  }

  .table-of-contents__main-list li:before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #b3ae76;
    position: absolute;
    left: 0%;
    transform: inherit;
    margin-top: -6px;
  }

  .table-of-contents__main-list li:first-child:before {
    display: none;
  }
}

.area {
  position: relative;
  background-color: #e0dba6;
  padding: 20px 35px;
  border-radius: 5px;
  border: 1px solid #aba56f;
}

.area label {
  font-size: 1rem;
}

.area input {
  width: 100%;
  padding: 7px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #aba56f;
}

.area .submit {
  background-color: #ffc001;
  padding: 10px 0px;
  box-sizing: inherit;
  margin-top: 25px;
}

.area .suppr {
  width: 100%;
  padding: 7px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #aba56f;
  background-color: lightpink;
  padding: 10px 0px;
  box-sizing: inherit;
  margin-top: 0px;
}

.go-register {
  font-size: 1rem;
  margin: 0;
  color: #808080;
}

.go-register a {
  color: inherit;
}

.pdp {
  display: flex;
}

.pdp label {
  display: inline;
}

.pdp label input {
  display: none;
}

.pdp label img {
  border: 4px solid transparent;
  border-radius: 7px;
  max-width: 90%;
}

.pdp label input:checked + img {
  border: 4px solid #06c462;
  border-radius: 7px;
}

header .infos-player {
  width: 50%;
  display: flex;
  float: left;
  position: absolute;
  margin-top: 5px;
}

header .infos-player img {
  width: 18%;
  float: left;
  margin-top: 5px;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

header .infos-player__el p {
  text-align: left;
  float: left;
  width: 70%;
  margin: 0;
  margin-left: 10px;
  color: #fff;
  font-size: 1rem;
}

header .infos-player__el .pseudo {
  font-weight: bold;
  font-size: 1.6rem;
}

.pawn-slider{
    /* width: 40%; */
    float: left;
}

.title-salon{
    font-size: 1.5rem;
    text-align: center;
}

#slider {
  position: relative;
  overflow: hidden;
  margin: 0;
  margin-top: 96px;
  border-radius: 5px;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.4);
  border: 5px solid #c7874d;
  width: 100%;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 46vh;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  height: 46vh;
  background: #93B26E;
  text-align: center;
  line-height: 300px;
}

#slider ul li img {
  width: 40%;
  margin-top: 20px;
}

.connection-list{
    width: 50%;
    float: right;
}

a.control_prev,
a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: 11px;
  height: 22px;
  padding-left: 20px;
  box-sizing: inherit;
  background-image: url("/assets/images/arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.2s ease;
}

a.control_prev {
  transform: rotate(180deg);
}

a.control_prev:hover,
a.control_next:hover {
  opacity: 1;
  transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}

.list-player {
  background-color: #96683c;
  border: 4px solid #c7874d;
  box-sizing: border-box;
  width: 100%;
  height: 56vh;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin-top: 96px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.list-player__el {
  background-color: #93B26E;
  width: 90%;
  height: 10vh;
  margin-left: 5%;
  border-radius: 5px;
  margin-top: 8px;
  display: inline-block;
  border: 2px solid #b0d980;
  box-sizing: border-box;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.4);
  position: relative;
}

.list-player__el img {
  width: 10%;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin: 5px 0px 0px 10px;
  margin-bottom: 0;
}

.list-player__el .player {
    position: absolute;
    top: 0px;
    left: 24%;
}

.list-player__el .player p {
  margin: 0;
  color: #fff;
  font-size: 0.8rem;
  line-height: 1.2;
}

.list-player__el .player p:first-child {
  font-weight: bold;
  font-size: 1.1rem;
}

@media (min-width: 992px) {

    header .infos-player img {
        width: 60px;
    }

    #slider{
        margin-top: 110px;
        min-width: 100%;
    }

    #slider ul li{
        min-width: 100%;
        margin-left: -50%;
    }
    #slider ul li img{
        max-width: 12%;
    }

    .list-btn__el{
        margin-bottom: 25px;
    }

    .btn-game{
        font-size: 2rem;
        border-width: 3px;
    }

    .ready{
        margin-top: 20px;
    }

    .p-game {
      border: 3px solid #ffc001;
    }

    .p-game span {
      font-size: 2rem;
    }

    .connection-list{
        margin-top: 10px;
        width: 40%;
    }

    .list-player__el img{
        width: 60px;
    }

    .list-player__el .player {
        position: absolute;
        top: 2px;
        left: 24%;
    }

    .list-player__el .player p {
      margin: 0;
      color: #fff;
      font-size: 1rem;
      line-height: 1.5;
    }

    .list-player__el .player p:first-child {
      font-weight: bold;
      font-size: 1.5rem;
    }

    .footer-game p {
      font-size: 1rem;
    }
}

/*# sourceMappingURL=app.css.map*/
